@font-face {
  font-family: 'Menlo Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/kali-landing/fonts/Menlo-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Charcoal';
  src: url('/kali-landing/fonts/Charcoal2.woff') format('woff2'),
       url('/kali-landing/fonts/Charcoal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
